{% load static %}
<img src="{% static 'appletter/test.jpg' %}" alt="My image"/><br>
<img src="{% static '1.jpg' %}" alt="My image"/><br>
Username: {{input.username}}<br>
Full name:  {{input.full_name}}<br>
User ID:   {{input.user_id}}<br>
Followers:   {{input.followers}}<br>
Followed:    {{input.follows}}<br>
Publications:    {{input.publication_count}}<br>

<br><br>

Average likes:     <b>{{input.average_likes}}</b><br>
Average comments:     <b>{{input.average_comments}}</b><br>
Average views:    <b> {{input.average_views}}</b><br>

<br><br>

<br>
Top-1 likes:<br>
{{ input.top1_likes.likes.count }}<br>
<img src="{{input.top1_likes.images.standard_resolution.url}}" alt="My image"/><br>

<br>
Top-1 comments:<br>
{{ input.top1_comments.comments.count }}<br>
<img src="{{input.top1_comments.images.standard_resolution.url}}" alt="My image"/><br>

{%if input.top1_views%}
<br>
Top-1 views:<br>
{{ input.top1_views.views.count }}<br>
<img src="{{input.top1_views.images.standard_resolution.url}}" alt="My image"/><br>
{%endif%}

<br><br>

Activity graphics<br>
<br>
Likes activity graphics<br>
<img src="{% static input.activity_likes_graph %}" alt="My image"/><br>

<br>
Comments activity graphics<br>
<img src="{% static input.activity_comments_graph %}" alt="My image"/><br>

{%if input.activity_views_graph%}
<br>
Views activity graphics<br>
<img src="{% static input.activity_views_graph %}" alt="My image"/><br>
{%endif%}


<br><br>
<br><br>
<br>
Топ-записи по лайкам<br>
{%for m in input.top_likes%}
{{m.id}} {{m.likes.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-записи по комментариям<br>
{%for m in input.top_comments%}
{{m.id}} {{m.comments.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-видео пользователя<br>
{%for m in input.top_views%}
{{m.id}} {{m.views.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
<br>
<br>
Время формирования массива: {{input.load_time}}<br>
Время расчетов: {{input.total_time}}