Полное имя:  {{input.full_name}}<br>
ИД юзера:   {{input.user_id}}<br>
Количество подписчиков:   {{input.followers}}<br>
Количество подписок:    {{input.follows}}<br>
Количество публикаций:    {{input.publication_count}}<br>
<br><br>
Среднее количество лайков за все время:     <b>{{input.average_likes}}</b><br>
Среднее количество комментариев за все время:     <b>{{input.average_comments}}</b><br>
Среднее количество просмотров за все время:    <b> {{input.average_views}}</b><br>
<br><br>
Топ-записи по лайкам<br>
{%for m in input.top_likes%}
{{m.id}} {{m.likes.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-записи по комментариям<br>
{%for m in input.top_comments%}
{{m.id}} {{m.comments.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-видео пользователя<br>
{%for m in input.top_views%}
{{m.id}} {{m.views.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
<br>
<br>
Время расчетов: {{input.total_time}}