{% load static %}
Full name:  {{input.full_name}}<br>

User ID:   {{input.user_id}}<br>
Followers:   {{input.followers}}<br>
Followed:    {{input.follows}}<br>
Publications:    {{input.publication_count}}<br>
<br>
Average likes:     <b>{{input.average_likes}}</b><br>
Average comments:     <b>{{input.average_comments}}</b><br>
Average views:    <b> {{input.average_views}}</b><br>
<br>
Top-1 likes:<br>
{% with input.top_likes|first as first_doc %}{{ first_doc.likes.count }}{% endwith %}<br>
<img src="{% static input.top_likes_img %}" alt="My image" height="256" width="256"/><br>


Top-1 comments<br>
{% with input.top_comments|first as first_doc %}{{ first_doc.comments.count }}{% endwith %}<br>
<img src="{% static input.top_comments_img %}" alt="My image" height="256" width="256"/><br>

Activity graphics<br>
<img src="{% static input.activity_likes_graph %}" alt="My image" height="240" width="320"/><br>

<br><br>

<br><br>
<br>
Топ-записи по лайкам<br>
{%for m in input.top_likes%}
{{m.id}} {{m.likes.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-записи по комментариям<br>
{%for m in input.top_comments%}
{{m.id}} {{m.comments.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
Топ-видео пользователя<br>
{%for m in input.top_views%}
{{m.id}} {{m.views.count}} <a href={{m.link}}>{{m.created_time}}</a><br>
{%endfor%}
<br>
<br>
<br>
Время расчетов: {{input.total_time}}