{% load static %}
<p>123456</p>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<div id="body" style="width:400;text-align:center;">
	<div id="intro">
		<p style="font-size:26px">Hello!</p>
		<p style="font-size:18px">Our managment department analysed your Instagram account <a href="https://www.instagram.com/{{input.username}}">@{{input.username}}</a> and got some statistics which can be ineteresting and useful for you.</p>
	</div>
	<div>
		<div id="top1">
			<p style="font-size:26px">Top-1 liked post</p>
			<p style="font-size:30px">{{input.top1_likes.likes.count}} <img src="{% static "appletter/like.png" %}" style="max-width: 100%;" width=26, height="26" alt="likes"/"></p>
			<img src="{{input.top1_likes.images.standard_resolution.url}}" style="max-width: 100%;" alt="top1_likes"/><br>
		</div>
		<div id="top23">
			<div id="top2" style="float: left;width: 49%">
				<p style="font-size:26px">Top-2 liked post</p>
				<p style="font-size:30px">{{input.top_likes.2.likes.count}} <img src="{% static "appletter/like.png" %}" style="max-width: 100%;" width=26, height="26" alt="likes"/></p>
				<img src="{{input.top_likes.2.images.standard_resolution.url}}" style="max-width: 100%;" alt="top2_likes"/><br>
			</div>
			<div id="top23_indent" style="float: left;width: 2%">
				<p></p>	
			</div>
			<div id="top3" style="float: left;width: 49%">
				<p style="font-size:26px">Top-3 liked post</p>
				<p style="font-size:30px">{{input.top_likes.3.likes.count}} <img src="{% static "appletter/like.png" %}" style="max-width: 100%;" width=26, height="26" alt="likes"/> </p>
				<img src="{{input.top_likes.3.images.standard_resolution.url}}" style="max-width: 100%;" alt="top3_likes"/><br>		
			</div>
		</div>
	</div>
	<div></div>
	<div id="average" style="float: none;">
		<p>Average activity rates</p>
		<p style="font-size:30px"><img src="{% static "appletter/like.png" %}" style="max-width: 100%;" width=26, height="26" alt="likes"/> {{input.average_likes}}</p>
		<p style="font-size:30px"><img src="{% static "appletter/comment.png" %}" style="max-width: 100%;" width=36, height="36" alt="likes"/> {{input.average_comments}} </p>
		{%if input.top1_views%}
			<p style="font-size:30px"><img src="{% static "appletter/video.png" %}" style="max-width: 100%;" width=26, height="26" alt="likes"/> {{input.average_views}}</p>
		{%endif%}
	</div>

	<div id="average analys">
		{%if input.likes_to_comments < 1%}
			<p>There is no dispropotion and all rates are balanced. We can help you to grow your account more intensively. Just check our <a href="https://instabf.net/packages/">packages</a>.</p>
		{%else%}
			<p>It seems that you have some dispropotion in count of likes and comments. For example <a href="https://www.instagram.com/kimkardashian">@kimkardashian</a> profile on each 100 likes has 1.2 comments. Your rates are 100:{{input.likes_to_comments}}. You can check our <a href="https://instabf.net/buy-instagram-comments/">comments packages</a></p>
		{%endif%}
	</div>

	{%if input.video_chart%}
		<div id="videos persantage">
			<p>Persantage of videos on your profile</p>
			<img src="{% static input.video_chart %}" style="max-width: 100%;" alt="video_chart"/><br>	
			<p>This persantage is rather big. You can check our <a href="https://instabf.net/buy-instagram-views/">views packages</a> for organically growth of your account</p>
		</div>
	{%endif%}

	<div id="dynamics">
		<img src="{% static input.activity_likes_graph %}" style="max-width: 100%;" alt="dynamics"/><br>	
		<p>Your account is growing organically. For reaching better results please check our <a href="https://instabf.net/buy-instagram-likes/">likes packages.</a></p>
	</div>
</div>